NEXTCLOUD_CONTAINER_NAME=nextcloud
NEXTCLOUD_DB_CONTAINER_NAME=nextcloud-db
NEXTCLOUD_REDIS_CONTAINER_NAME=nextcloud-redis
NEXTCLOUD_CRON_CONTAINER_NAME=nextcloud-cron

NEXTCLOUD_TRUSTED_PROXIES=172.X.X.X/16
NEXTCLOUD_HOST=nextcloud.example.com

NEXTCLOUD_ADMIN_USER=admin

NEXTCLOUD_DATA_DIR=/directory_path
NEXTCLOUD_LOGS_DIR=/directory_path

NEXTCLOUD_DB_NAME=nextcloud-user
NEXTCLOUD_DB_USER=nextcloud-user

NEXTCLOUD_DB_PASSWORD_FILE=/directory_path/database-password
NEXTCLOUD_ADMIN_PASSWORD_FILE=/directory_path/user-password
